// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Styling for post (show.html.erb)
.original-post {
  background-color: #f1f1f1;
  box-shadow: 2px 2px 5px #292929;
  border-radius: 20px;
  width: 800px;
  padding: 0px 0px 14px 0px;
  margin: 20px 0px 0px 20px;
}

.post-title {
  font-size: 40px;
  font-weight: bold;
  padding: 10px 0px 0px 0px;
  margin-left: 50px;
  letter-spacing: 1px;
}

.post-info-table {
  font-size: 12px;
  margin-left: 50px;
  color: #919191;
  letter-spacing: 1px;

  a {
    text-decoration: none;
    font-weight: bold;
    color: #919191;
  }

  a:hover {
    text-decoration: underline;
  }
}

.post-info-tbody td {
  padding: 0px 5px 7px 0px;
}

.post-heading {
  margin-bottom: 0px;
}

.post-show-inc-points,
.post-show-dec-points {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.post-show-dec-points {
  padding-top: 2px;
}

.points-span {
  margin-left: -100%;
  margin-right: -100%;
  font-size: 18px;
}

.post-points {
  float: left;
  width: 25px;
  margin-left: 15px;
  padding: 15px 6px 0px 0px;
  text-align: center;
}

.voted {
  color: rgb(250, 75, 28) !important;
}

.post-body {
  border: 2px solid black;
  padding: 5px 15px 5px 15px;
  letter-spacing: 1px;
  margin-left: 50px;
  width: 500px;
}

.post-extra-div {
  margin-top: 8px;
  margin-left: 50px;

  font-size: 12px;
  letter-spacing: 1px;
}

.post-extra-div a {
  color: #919191;
  text-decoration: none;
  padding-right: 10px;
}

.post-extra-div a:hover {
  text-decoration: underline;
}

// Styling for comments section of the post
.comments-section {
  background-color: #f1f1f1;
  box-shadow: 2px 2px 5px #292929;
  margin: 13px 0px 0px 20px;
  border-radius: 20px;
  width: 800px;
}

.comments-section .new_comment button,
.button_to input,
.sort {
  margin: 15px 0px 6px 30px;
  padding: 7px;

  border: 1px solid black;
  border-radius: 5px;

  background-color: #000c40;
  color: white;

  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
}

.sort {
  display: inline-block;
}

.comments-section .new_comment button:hover,
.button_to input:hover,
.sort:hover {
  background-color: #00146e;
  cursor: pointer;
}

.sortby {
  color: white;
  text-decoration: none;
}

.new_comment {
  float: left;
}

.comment-voting-div {
  float: left;
  padding: 8px 5px 0 0;
}

.comment-div {
  margin-left: 30px;
  padding: 0px 30px 10px 0px;
}

.comment-info-div {
  padding: 7px 0px 7px 0px;
}

.comment-body {
  border-bottom: 2px solid #00146e;
  padding-bottom: 5px;
  padding-left: 20px;
}

.reply button,
.reply a,
.comment-body .actions .button_to input {
  padding: 0;
  margin: 5px 8px 0 0px;
  font-family: inherit;
  font-size: 13px;
  letter-spacing: 1px;

  color: #919191;
  text-decoration: none;

  background: transparent;
  outline: none;
  border: none;

  cursor: pointer;
}

.reply button:hover,
.reply a:hover,
.comment-body .actions .button_to input:hover {
  text-decoration: underline;
}

.replies,
.nested_replies {
  margin-left: 30px;
}

// Styling for new/edit form's title
.post-form-title {
  text-align: center;
  margin: 20px 0 0 0;

  letter-spacing: 1px;
  font-size: 50px;
  font-weight: bold;
  color: #000c40;
}

// Styling for new.html.erb
.new-post-container {
  text-align: center;
  margin: 20px 0 0 0;
  letter-spacing: 1px;
}

.new-post-container .field {
  margin: 20px auto;
  width: 300px;
}

.new-post-container input {
  padding: 8px;
  width: 225px;
  border: 1px solid gray;
  border-left: 3px solid #000c40;
  border-radius: 5px;
}

.new-post-container .title,
.new-post-container .body {
  width: 620px;
}
.new-post-container input[name="post[title]"] {
  width: 600px;
}

.new-post-container textarea {
  margin-left: auto;
  margin-right: auto;
  resize: none;
  overflow: auto;
  border-radius: 5px;

  width: 610px;
  height: 200px;
}

.new-post-container input[name="commit"] {
  width: 100px;

  margin-right: 5px;
  padding: 5px 9px;

  border: 1px solid black;
  border-radius: 5px;

  background-color: #000c40;
  color: white;

  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 13px;
}

.new-post-container a {
  padding: 5px 9px;

  background-color: #000c40;
  color: white;

  border: 1px solid black;
  border-radius: 5px;

  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
}

.new-post-container [name="commit"]:hover,
.new-post-container a:hover {
  background-color: #00146e;
  cursor: pointer;
}
