// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.overview {
  letter-spacing: 1px;
}

.tag_select select {
  padding: 8px;
  width: 225px;
  border: 1px solid gray;
  border-left: 3px solid #000c40;
  border-radius: 5px;
}

.tag-info-div {
  h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
  }

  p {
    letter-spacing: 1px;
    font-size: 17px;
    padding: 3px 0px 3px 1px;
  }
}

.view form {
  margin: 15px 0 0 15px;
}

.tag-edit {
  margin-bottom: 15px;

  label {
    font-size: 25px;
  }

  input {
    padding: 8px;
    width: 225px;
    border: 1px solid gray;
    border-left: 3px solid #000c40;
    border-radius: 5px;
  }
}

.tag-edit-submit input {
  padding: 7px;

  border: 1px solid black;
  border-radius: 5px;

  background-color: #000c40;
  color: white;

  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
}
