// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// SCSS page for users profile
.column {
  float: left;
}

.content-div {
  width: 75%;
}

.user-div {
  width: 25%;
}

.tab-div {
  overflow: hidden;
  border-bottom: 1px dashed #000c40;
  width: 95%;
  margin-left: 10px;
}

.tabs {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
}

.actions.delete {
  float: right;
  padding-top: 10px;
}

.actions.delete a {
  color: #919191;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.view {
  display: none;
}

.tab-div button:hover {
  background-color: #00146e;
  color: white;
}

.tab-div button.active {
  background-color: #000c40;
  color: white;
}

.post.empty {
  margin: 15px 0 0 15px;

  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

.profile-posts {
  width: 1000px;
  margin: 10px 10px;
}

.profile-posts h2 {
  font-size: 30px;
  font-weight: bold;
}

.profile-posts a {
  text-decoration: none;
  color: #000c40;
}

.profile-posts img {
  float: left;
  margin: 5px 10px 0px 10px;

  height: 50px;
  width: 50px;

  border: 1px solid black;
  border-radius: 15px;

  cursor: pointer;
}

.profile-posts-info {
  font-size: 12px;
  padding-top: 3px;
  letter-spacing: 1px;
  color: #919191;
}

.profile-posts-info a {
  text-decoration: none;
  color: #919191;
}

.profile-posts-info a:hover {
  text-decoration: underline;
}

.profile-posts-comments-info {
  padding-top: 5px;
}

.profile-comments {
  margin: 10px 20px;
}

.profile-comments-post-name {
  color: #919191;
}

.profile-comments-post-name a,
.profile-comments-indent a {
  color: #000c40;
  font-weight: bold;
  text-decoration: none;
}

.profile-comments-indent {
  margin-left: 40px;
  margin-top: 10px;
}

.user-div h2 {
  font-size: 40px;
  font-weight: bold;
}

.user-div p {
  letter-spacing: 1px;
  font-size: 17px;
  padding: 3px 0px 3px 1px;
}

.user-div .edit_user input[name="commit"] {
  width: 100px;
  margin: 0 5px 0 0;
  padding: 5px 9px;

  border: 1px solid black;
  border-radius: 5px;
  background-color: #000c40;

  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  font-size: 13px;

  &:hover {
    cursor: pointer;
    background-color: #00146e;
  }
}

// Editing user form styling
.edit_user_form {
  text-align: center;

  .field {
    margin: 0 0 20px 0;

    label {
      font-size: 20px;
      font-weight: bold;
      color: #000c40;
    }
  }

  h2 {
    text-align: center;
    margin: 20px 0 20px 0;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: bold;
    color: #000c40;
  }

  .edit_user {
    input {
      padding: 8px;
      margin-top: 7px;

      width: 225px;
      border: 1px solid gray;
      border-left: 3px solid #000c40;
      border-radius: 5px;

      text-decoration: none;
      letter-spacing: 1px;
    }

    input[name="user[password]"],
    input[name="user[password_confirmation]"],
    input[name="user[current_password]"] {
      width: 400px;
    }

    input[name="commit"] {
      width: 70px;
      margin: 0 5px 0 0;
      padding: 5px 9px;

      border: 1px solid black;
      border-radius: 5px;
      background-color: #000c40;

      text-align: center;
      text-decoration: none;
      letter-spacing: 1px;
      color: white;
      font-size: 13px;

      &:hover {
        cursor: pointer;
        background-color: #00146e;
      }
    }

    a {
      padding: 5px 9px;
      background-color: #000c40;
      color: white;
      border: 1px solid black;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      letter-spacing: 1px;
      font-size: 14px;

      &:hover {
        cursor: pointer;
        background-color: #00146e;
      }
    }
  }
}

#error_explanation {
  color: red;
  margin: 10px;
}

// To prevent error wrapper from messing up styling
.field_with_errors {
  display: inline;
}
